{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Knowledge Bus</h4>
				</div>
				<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="{% static 'images/4.jpg' %}" alt="" />
						<p>Our platform has become an integral part - indeed a mainstay - of the region's digital future. Thanks to high-tech, talented and diversified infrastructure and competencies, we have established a clear footprint in providing meaningful jobs, wealth, secure transportation services and reliable e-payment solutions, as well as contributing significantly to the expansion of digital engagement.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<div class="wthree-heading">
				<h2>Welcome</h2>
				<p>We’re trying to solve the problem of high transportation fares for lowincome university students as well as the low quality of the available facilities.

				</p>
			</div>
			<div class="w3-welcome-grids">
				<div class="col-md-3 w3-welcome-grid">
					<div class="w3-welcome-grid-info">
						<img src="{% static 'images/3.jpg' %}" alt="" />
						<h4>The User</h4>
						<p>The main users we're targeting are Tanta
							University students who live outside the city.
							Low-income people.</p>
					</div>
				</div>
				<div class="col-md-3 w3-welcome-grid">
					<div class="w3-welcome-grid-info">
						<img src="{% static 'images/4.jpg' %}" alt="" />
						<h4>Value Proposition</h4>
						<p>providing comfortable buses for the university student at a good price with the possibility of obtaining daily discounts .<p>
					</div>
				</div>
				<div class="col-md-3 w3-welcome-grid">
					<div class="w3-welcome-grid-info">
						<img src="{% static 'images/5.jpg' %}" alt="" />
						<h4>Communication Channels</h4>
						<p>• Mobile Application<br>
							• Social Media <br>
							• Customer Service Hotline <br>
							• Offline</p>
					</div>
				</div>
				<div class="col-md-3 w3-welcome-grid">
					<div class="w3-welcome-grid-info">
						<img src="{% static 'images/6.jpg' %}" alt="" />
						<h4>Value Proposition</h4>
						<p>students
							got much knowledge about
							their specializations through
							the game of quizzes prepared
							in advance</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- about-bottom -->
	<div class="about-bottom jarallax" id="about">
		<!-- container -->
		<div class="container">
			<div class="wthree-heading about-heading">
				<h3>About Us</h3>
				<p>"The idea was not just to build a huge company; it was to build a company that would have a huge impact and a clear positive impact on people's lives."
				</p>
			</div>
			<div class="about-bottom-grids">
				<div class="col-md-6 about-bottom-left">
					<h4>We are committed to keeping you safe</h4>
					<p>We are committed to protecting you when you walk, from adding multiple safety features to our standards in the Knowldge Bus Community Guidelines.
					</p>
				</div>
				<div class="col-md-6 about-bottom-left about-bottom-right">
					<h4>Our journey</h4>
					<p>Our journey began when a group of students decided to create
						An opportunity to create a huge project that makes a difference in people's lives, changes the region, and raises the standard of life in it.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-bottom-grids w3ls-about-bottom-grids">
				<div class="col-md-6 about-bottom-left">
					<h4>Our Goals</h4>
					<p>Our company strives to achieve a clear goal and a basic goal: to simplify and improve the lives of people, while building a pioneering institution that embodies inspiration for others. Every aspect of our work, decisions and values ​​is based on this end.
					</p>
				</div>
				<div class="col-md-6 about-bottom-left about-bottom-right">
					<h4>Nature of our work</h4>
					<p>Our platform has become an integral part - indeed a mainstay - of the region's digital future. Thanks to high-tech, talented and diversified infrastructure and competencies, we have established a clear footprint in providing meaningful jobs, wealth, secure transportation services and reliable e-payment solutions, as well as contributing significantly to the expansion of digital engagement.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //about-bottom -->
	<!-- offer -->
	<div class="offer">
		<div class="col-md-5 offer-left">

		</div>
		<div class="col-md-7 offer-right">
			<div class="wthree-heading offer-heading">
				<h3>What We Offer</h3>
			</div>
			<h4>We operate under a unique mechanism based on an integrated operating system that leads us to achieve our mission within the highest standards of efficiency and productivity. The system is based on eight key principles that define our framework for each other,
			</h4>
			<p> aservice for university students
				reach their university via less affordable , more comfortable
				and always available means of transportation
				with fully-automated booking of buses supported by an
				excellent customer service.</p>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //offer -->
	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container">
			<div class="wthree-heading">
				<h3>Gallery</h3>
				<p>Our team recognizes that the most important factors of our strength are the outstanding competencies we enjoy at work, as well as the company's values ​​and culture.
				</p>
			</div>
			<div class=" w3-agileits-gallery">
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="{% static 'images/g1.jpg' %}" class="big"><img src="{% static 'images/g1.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g2.jpg' %}"><img src="{% static 'images/g2.jpg' %}" alt=""
								title="Donec dictum nisi sit amet ex volutpat interdum." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g3.jpg' %}"><img src="{% static 'images/g3.jpg' %}" alt=""
								title="Ut dignissim ipsum dolor, in scelerisque neque commodo sit amet." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g4.jpg' %}"><img src="{% static 'images/g4.jpg' %}" alt=""
								title="Nulla molestie nulla et dolor commodo pharetra." /></a>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g5.jpg' %}"><img src="{% static 'images/g5.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
					</div>
				</div>
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="{% static 'images/g7.jpg' %}" class="big"><img src="{% static 'images/g7.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g6.jpg' %}"><img src="{% static 'images/g6.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g8.jpg' %}"><img src="{% static 'images/g8.jpg' %}" alt=""
								title="Nulla molestie nulla et dolor commodo pharetra." /></a>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="{% static 'images/g9.jpg' %}" class="big"><img src="{% static 'images/g9.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g2.jpg' %}"><img src="{% static 'images/g2.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g5.jpg' %}"><img src="{% static 'images/g5.jpg' %}" alt=""
								title="Maecenas aliquam nec arcu at efficitur." /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="{% static 'images/g6.jpg' %}"><img src="{% static 'images/g6.jpg' %}" alt=""
								title="Nulla molestie nulla et dolor commodo pharetra." /></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/simple-lightbox.js"></script>
	<script>
		$(function () {
			var $gallery = $('.gallery a').simpleLightbox();

			$gallery.on('show.simplelightbox', function () {
				console.log('Requested for showing');
			})
				.on('shown.simplelightbox', function () {
					console.log('Shown');
				})
				.on('close.simplelightbox', function () {
					console.log('Requested for closing');
				})
				.on('closed.simplelightbox', function () {
					console.log('Closed');
				})
				.on('change.simplelightbox', function () {
					console.log('Requested for change');
				})
				.on('next.simplelightbox', function () {
					console.log('Requested for next');
				})
				.on('prev.simplelightbox', function () {
					console.log('Requested for prev');
				})
				.on('nextImageLoaded.simplelightbox', function () {
					console.log('Next image loaded');
				})
				.on('prevImageLoaded.simplelightbox', function () {
					console.log('Prev image loaded');
				})
				.on('changed.simplelightbox', function () {
					console.log('Image changed');
				})
				.on('nextDone.simplelightbox', function () {
					console.log('Image changed to next');
				})
				.on('prevDone.simplelightbox', function () {
					console.log('Image changed to prev');
				})
				.on('error.simplelightbox', function (e) {
					console.log('No image found, go to the next/prev');
					console.log(e);
				});
		});
	</script>
	<!-- //gallery -->
	<!-- testimonial -->
	<div class="testimonial">
		<div class="container">
			<div class="wthree-heading">
				<h3>Testimonials</h3>
				<p>We aspire to become a world leader in advancing businesses through digital means. Customer satisfaction, openness, innovation, teamwork and growth, are the core values behind our company, and continue to reflect who we are, how we work, and what we strive for.</p>
			</div>
			<div class="testimonial-grids">
				<div class="col-md-4 testimonial-grid">
					<h4>Customer Says</h4>
					<div class="testimonial-info">
						<p><span>"</span>When you assume negative intent, you're angry. If you take away that anger and assume positive intent, you will be amazed.</p>
						<h5>EMMA S.</h5>
					</div>
					<div class="testimonial-info">
						<p><span>" </span> We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better.</p>
						<h5>JOHN D.</h5>
					</div>
					<div class="testimonial-info">
						<p><span>" </span> Every contact we have with a customer influences whether or not they’ll come back. We have to be great every time or we’ll lose them. </p>
						<h5>EMMA S.</h5>
					</div>
				</div>
				<div class="col-md-8 testimonial-grid-right">
					<h4>Latest Offers</h4>
					<div class="Works-grids">
						<div class="col-md-4 Works-grid">
							<img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="" />
							<p>You’ve accepted that you are essentially possessed by a supernatural being who trapped himself in your Kindle, to avoid destruction by a sociopathic outlaw, but you are questioning if the processes is technically feasible</p>
						</div>
						<div class="col-md-4 Works-grid">
							<img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="" />
						<p>
							There’s something very disconcerting about waking up before the sun comes up. Seriously, if God had wanted us to get up when it was still dark out, he wouldn’t have given us eyelids</p>
						</div>
						<div class="col-md-4 Works-grid">
							<img src="{% static 'images/5.jpg' %}" class="img-responsive" alt="" />
							<p>like many things in life, you never realize at the time that one decision can alter everything.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //testimonial -->
	<!-- team -->
	<div class="team jarallax" id="team">
		<div class="team-dot">
			<div class="container">
				<div class="wthree-heading about-heading">
					<h3>Fantastic Team</h3>
					<p>Dreams are easy to achieve when they are able to pursue them both in the city itself and around the world. Thus, the opportunities appear before us and become a reality. Upon starting Uber, it provided through its application a way to order a car with the push of a button. Today, it helps people communicate with each other. This innovative technology helps people around the world move anywhere by different means.</p>
				</div>
				<div class="agile-team-grids">
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="{% static 'images/t1.jpg' %}" alt="" />
								</div>
								<div class="back">
									<h4>Peter Parker</h4>
									<p>Spider man</p>
									<div class="w3l-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="{% static 'images/t2.jpg' %}" alt="" />
								</div>
								<div class="back">
									<h4>Daiana</h4>
									<p>Wonder Women</p>
									<div class="w3l-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="{% static 'images/t3.jpg' %}" alt="" />
								</div>
								<div class="back">
									<h4>Steve Rogers</h4>
									<p>Captin America</p>
									<div class="w3l-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="{% static 'images/t4.jpg' %}" alt="" />
								</div>
								<div class="back">
									<h4>Natasha Romanouf</h4>
									<p>Black Widow</p>
									<div class="w3l-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- blog -->
	<div id="blog" class="blog">
		<div class="container">
			<div class="wthree-heading">
				<h3>Blog</h3>
				<p>our company is  increasingly playing a big part in the region’s digital future, through our technology, infrastructure, and our diverse and talented people. We thought you…
				</p>
			</div>
			<div class="blog-agileinfo">
				<div class="col-md-6 blog-w3grid-img">
					<a href="#myModal" data-toggle="modal" class="wthree-blogimg">
						<img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="" />
					</a>
				</div>
				<div class="col-md-6 blog-w3grid-text">
					<h4><a href="#myModal" data-toggle="modal">What exactly do you do at our company<a></h4>
					<h6>By <a href="#"> Admin</a> - Audst 25th, 2019 </h6>
					<p>I’m a backend software engineer, which means I work with things that are under the hood. You know when you use the Knowladge Bus app and you see all those nice things? Well, I work on all of those other things that are going on behind them. I’m part of “New Categories” </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-agileinfo-mdl">
				<div class="col-md-6 blog-w3grid-img blog-img-rght">
					<a href="#myModal" data-toggle="modal" class="wthree-blogimg">
						<img src="{% static 'images/6.jpg' %}" class="img-responsive" alt="" />
					</a>
				</div>
				<div class="col-md-6 blog-w3grid-text">
					<h4><a href="#myModal" data-toggle="modal">What technologies are you working with specifically?
					</a></h4>
					<h6>By <a href="#"> Admin</a> - Dec 31st, 2018 </h6>
					<p>Java, Python, AWS, Dynamo DB, Redis and some of the other industry standard tools. We’ve just been playing around with OR Tools, this is really fun. We’re using this to solve real-life problems such as vehicle routing issues –  how to route the vehicle for as little cost as possible whilst maintaining high customer service. This is why I love working for Knowledge Bus, we get to work and experiment with the newest and latest technologies and we are not limited to legacy software.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo">
				<div class="col-md-6 blog-w3grid-img">
					<a href="#myModal" data-toggle="modal" class="wthree-blogimg">
						<img src="{% static 'images/5.jpg' %}" class="img-responsive" alt="" />
					</a>
				</div>
				<div class="col-md-6 blog-w3grid-text">
					<h4><a href="#myModal" data-toggle="modal">What does your typical day involve?</a></h4>
					<h6>By <a href="#"> Admin</a> - Dec 25th, 2016 </h6>
					<p>My day usually involves a lot of coding, reviewing other people’s code and talking to other teams. Our current tasks demand a lot of inter-team collaboration, and that has been super fun. My day is interrupted here and there by a few meetings and interviews. Apply for a job in Knowledge Bus, and I might be one of the first people from the team that you meet!

					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //blog -->
	<!-- rate -->
	<div class="rate jarallax" id="rate">
		<div class="container">
			<div class="wthree-heading about-heading">
				<h3>Rates for Knowledge Bus</h3>
				<p>Enter a starting point and access point to get an estimated price for your ride by car category in Egypt
				</p>
			</div>
			<div class="agileinfo-rate-grids">
				<div class="agileinfo-rate-grid-nfo">
					<div class="agileinfo-rate-grid">
						<ul>
							<li>50Km</li>
							<li>+$3/M</li>
						</ul>
					</div>
					<div class="agileinfo-rate-grid">
						<ul>
							<li>More Than 30 Min</li>
							<li>$5</li>
						</ul>
					</div>
					<div class="agileinfo-rate-grid">
						<ul>
							<li>Out Of City</li>
							<li>+$4/M</li>
						</ul>
					</div>
					<div class="agileinfo-rate-grid">
						<ul>
							<li>waiting over 10 min</li>
							<li>$2</li>
						</ul>
					</div>
					<div class="agileinfo-rate-grid">
						<ul>
							<li>Tetchure chair</li>
							<li>+$1</li>
						</ul>
					</div>
					<div class="agileinfo-rate-grid">
						<ul>
							<li>Doctor</li>
							<li>+$4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //rate -->
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="wthree-heading">
				<h3>Contact Us</h3>
				<!--  -->
			</div>
			<div class="address">
				<div class="col-sm-4 address-grids">
					<h4>Address :</h4>
					<p>Tanta<br>
						<span>St ElBahr,</span>
						Egypt ElQharbia Government 56777
					</p>
				</div>
				<div class="col-sm-4 address-grids">
					<h4>Phone :</h4>
					<p>+20 109 80 144 50</p>
					<p>+20 114 29 079 51</p>
				</div>
				<div class="col-sm-4 address-grids">
					<h4>Email :</h4>
					<p><a href="mailto:muhmmedmedhat0@gmail.com">muhmmedmedhat0@gmail.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="contact-form">
				<h4>Contact Form</h4>
				<form action="#" method="post">
					<div class="fields-grid">
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="Full Name" required="">
							<label>Full Name</label>
							<span></span>
						</div>
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="Phone" required="">
							<label>Phone</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="email" name="Email" required="">
							<label>Email</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="text" name="Subject" required="">
							<label>Subject</label>
							<span></span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="styled-input textarea-grid">
						<textarea name="Message" required=""></textarea>
						<label>Message</label>
						<span></span>
					</div>
					<input type="submit" value="SEND">
				</form>
			</div>
			<div class="agileits-w3layouts-map">
				<h4>Location</h4>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783"
					style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<!-- //contact -->
	
{% endblock %}
